<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Send a message</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"/>
</head>
<body>
<!--recaptcha-fail-->
<th:block th:if="${recaptchaFail}==true">
    <div class="alert alert-danger" role="alert">
        Your action has failed due low scores from reCaptcha. Please try later.
    </div>
</th:block>
<div class="container-md">
    <h3>Send a Message</h3>

    <form id="form-message" th:action="@{/processMessageForm}" th:object="${message}" method="POST"
          class="needs-validation" novalidate>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="inputName">Name:</label>
                <input type="text" id="inputName" class="form-control" placeholder="Your name" th:field="*{visitorName}"
                       required minlength="2"/>
                <span th:if="${#fields.hasErrors('visitorName')}"
                      th:errors="*{visitorName}" class="danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label for="inputEmail">Email:</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Your email address"
                       th:field="*{visitorEmail}" required/>
                <span th:if="${#fields.hasErrors('visitorEmail')}"
                      th:errors="*{visitorEmail}" class="danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputSubject">Subject:</label>
            <input type="text" id="inputSubject" class="form-control" placeholder="Title" th:field="*{subject}"/>
        </div>

        <div class="form-group">
            <label for="inputMessage">Message:</label>
            <textarea id="inputMessage" class="form-control" placeholder="Your message" rows="5"
                      th:field="${message.message}" required maxlength="300"></textarea>
            <span th:if="${#fields.hasErrors('message')}"
                  th:errors="${message.message}" class="danger"></span>
        </div>
        <br>
        <button class="btn btn-primary g-recaptcha"
                id="sendMessageButton"
                data-action='submit'>Submit
        </button>
        <!--                data-callback='onSubmit'-->

    </form>
</div>
</body>
</html>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<!--th:src="'https://www.google.com/recaptcha/api.js?render='+${siteRecaptchaKey}"-->
<script th:inline="javascript" th:src="'https://www.google.com/recaptcha/api.js?render='+${siteRecaptchaKey}"></script>
<script th:inline="javascript">
    document.getElementById("sendMessageButton").addEventListener("click", onClick);

    function onClick(e) {
        e.preventDefault();
        grecaptcha.ready(function () {
            grecaptcha.execute([[${siteRecaptchaKey}]], {action: 'submit'}).then(function (token) {
                console.log('token: ' + token);
                // Add your logic to submit to your backend server here.
                var form = document.getElementsByClassName('needs-validation').item(0);

                let recaptchaDom = document.getElementById("g-recaptcha");
                if (recaptchaDom!=null) {
                    recaptchaDom.remove()
                }
                var input = document.createElement('input');
                input.setAttribute("id", "g-recaptcha");
                input.setAttribute('name', "g-recaptcha-response");
                input.setAttribute('value', token.toString());
                input.setAttribute('type', "hidden")
                form.appendChild(input);

                form.requestSubmit();
            });
        });
    }
</script>





